argcomplete==3.1.6
attr==0.3.2
BeautifulSoup==3.2.2
brotli==1.1.0
brotlicffi==1.1.0.0
cchardet==2.1.7
ConfigParser==6.0.0
contextlib2==21.6.0
cryptography==41.0.7
Cython==3.0.6
dl==0.1.0
docutils==0.20.1
exceptiongroup==1.2.0
html5lib==1.1
HTMLParser==0.0.2
ipython==8.18.1
ipywidgets==8.1.1
Jinja2==3.1.2
jnius==1.1.0
keyring==24.3.0
lockfile==0.12.2
mock==5.1.0
numpy==1.26.2
pexpect==4.9.0
Pillow==10.1.0
protobuf==4.25.1
pyOpenSSL==23.3.0
railroad==0.5.0
simplejson==3.19.2
Sphinx==7.2.6
thread==0.1.2
tornado==6.4
trove_classifiers==2023.11.29
truststore==0.8.0
Twisted==23.10.0
urllib3_secure_extra==0.1.0
xmlrpclib==1.0.1
zope==5.9
zstandard==0.22.0
